.rbc-month-view {
    height: 93vh !important;
  }
.rbc-time-view {
    height: 93vh !important;
  }

.detail-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.178);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.detail-wrapper .detail {
    width: 60%;
    height: 60%;
    border-radius: 5px;
    background-color: rgb(239, 239, 239);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    position: relative;
    z-index: 1000;
}

.detail-wrapper .detail .detail__contents,
.detail-wrapper .detail .detail__start,
.detail-wrapper .detail .detail__end{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.detail-wrapper .detail .detail__time {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    row-gap: 30px;
}



button {
    background-color: #3174ad;
    color: white;
    padding: 0.375rem 0.75rem;
    border: none;
}
button:focus {
    border: none;
    outline: none;
    background-color: rgb(0, 119, 255);
}
