:root {
    --background-black-25: rgba(0, 0, 0, 0.178);
    --btn-primary: #3174ad;
    --background-gray: rgb(239, 239, 239);
    --color-white: white;
    --btn-primary-focus: rgb(0, 119, 255);
    --border-lightgray: lightgray;
    --color-notes: red;
    --color-gray: gray;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.rbc-month-view {
    height: 93vh !important;
  }
.rbc-time-view {
    height: 93vh !important;
  }

.detail-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-black-25);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.detail-wrapper .detail {
    width: 60%;
    border-radius: 5px;
    background-color: var(--background-gray);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    position: relative;
    z-index: 1000;
}
@media only screen and (max-width: 1024px) {
    .detail-wrapper .detail {
        column-gap: 25px;
        width: 65%;
        padding: 25px
    }
    .detail-wrapper .detail .detail__time {
        row-gap: 25px !important;
    }
}

@media only screen and (max-width: 640px) {
    .detail-wrapper  .detail {
        column-gap: 20px;
        width: 75%;
        padding: 20px;
    }
    .detail-wrapper .detail .detail__time {
        row-gap: 20px !important;
    }
}
@media only screen and (max-width: 480px) {
    .detail-wrapper  .detail {
        column-gap: 15px;
        width:80%;
        padding: 15px;
    }
    .detail-wrapper .detail .detail__time {
        row-gap: 15px !important;
    }
}

@media only screen and (max-width: 320px) {
    .detail-wrapper  .detail {
        width: 90%;
        column-gap: 10px;
        padding: 10px
    }
    .detail-wrapper .detail .detail__time {
        row-gap: 10px !important;
    }
}

.detail-wrapper .detail .detail__contents,
.detail-wrapper .detail .detail__start,
.detail-wrapper .detail .detail__end,
.detail-wrapper .detail .detail__author{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-white);
}

.detail-wrapper .detail .detail__time {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    row-gap: 30px;
}

.detail h3 {
    font-weight: 400;
    font-size: 18px;
}

.detail p {
    font-size: 16px;
    color: var(--color-gray);
    font-style: italic;
}

.detail-wrapper .detail .detail__contents p {
    padding-bottom: 30px;
}
.detail-wrapper .detail .detail__contents button {
    min-width: 100px;
    margin-bottom: 10px;
    display: block;
}
button {
    background-color: var(--btn-primary);
    color: var(--color-white);
    padding: 0.375rem 0.75rem;
    border: none;
}
button:focus {
    border: none;
    outline: none;
    background-color: var(--btn-primary-focus);
}

.meeting-input {
    background-color: var(--background-gray);
    width: 40%;
    height: auto;
    padding: 15px;
    border-radius: 5px;
}
@media only screen and (max-width: 1024px) {
    .detail-wrapper .meeting-input {
        width:50%;
    }
}

@media only screen and (max-width: 640px) {
    .detail-wrapper .meeting-input {
        width: 70%;
    }
}
@media only screen and (max-width: 480px) {
    .detail-wrapper .meeting-input {
        width:80%;
    }
}

@media only screen and (max-width: 320px) {
    .detail-wrapper .meeting-input {
        width: 90%;
    }
}
.meeting-input .form-group {
    padding-bottom: 15px;
}
.meeting-input .notes {
    color: var(--color-notes);
}
.meeting-input .form-group .form-control {
    width: 100%;
    padding: 0.375rem;
    line-height: 1.5;
    border: 1px solid var(--border-lightgray);
    
}
input:focus {
    outline: none;
}
